<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LogonServlet</servlet-name>
        <servlet-class>servlets.LogonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogonServlet</servlet-name>
        <url-pattern>/logon</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Next1Servlet</servlet-name>
        <servlet-class>servlets.Next1Servlet</servlet-class>
    </servlet>
        <servlet-mapping>
        <servlet-name>Next1Servlet</servlet-name>
        <url-pattern>/next1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewPatientServlet</servlet-name>
        <servlet-class>servlets.NewPatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPatientServlet</servlet-name>
        <url-pattern>/newPatient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PatientUpdateServlet</servlet-name>
        <servlet-class>servlets.PatientUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientUpdateServlet</servlet-name>
        <url-pattern>/patient</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>DailyReportServlet</servlet-name>
        <servlet-class>servlets.DailyReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DailyReportServlet</servlet-name>
        <url-pattern>/dailyReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewCertificateServlet</servlet-name>
        <servlet-class>servlets.ViewCertificateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCertificateServlet</servlet-name>
        <url-pattern>/ViewCertificate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
